@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$clr-heading: hsl(229, 23%, 23%);
$clr-background: hsl(185, 75%, 39%);
$clr-body: hsl(0, 0%, 59%);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans';
    background-color: $clr-background;
    color: $clr-body;
}

.main-title {
    font-size: 18px;
    font-weight: 700;
    color: $clr-heading;
    margin: 0 0 0.8em;
}

.text-light,
.text-small,
.span-light {
    color: hsl(227, 10%, 46%);
}

.span-light {
    font-weight: 400;
}

.text-light {
    font-size: 15px;
}

.text-small {
    font-size: 10px;
    letter-spacing: 1.5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1.5em;

    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 15px rgba($color: #000000, $alpha: 0.2);
    &__header {
        display: block;
    }

    &__body {
        background-color: #fff;
        text-align: center;
        position: relative;
        padding-top: 80px;
    }

    &__place {
        margin-bottom: 1.6em;
    }

    &__profile {
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__socialgroup {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2em;
        border-top: 0.1px solid #e8e8e8;

        .main-title {
            margin-bottom: 0.4em;
        }
    }
}
